<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcl5hj3ZmD11BPJtRONj0qHeVPLRIseXc</string>
	<key>GCM_SENDER_ID</key>
	<string>416460454051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neptus.shamo</string>
	<key>PROJECT_ID</key>
	<string>shamo-aa9f8</string>
	<key>STORAGE_BUCKET</key>
	<string>shamo-aa9f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416460454051:ios:2def895aabc86b760da716</string>
</dict>
</plist>